body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 360px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    padding: 25px;
}

.tabs {
    display: flex;
    margin-bottom: 20px;
}

.tabs label {
    flex: 1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    transition: 0.3s;
}

input[type="radio"] {
    display: none;
}

/* Active Tabs */
#student:checked~.tabs label[for="student"],
#institution:checked~.tabs label[for="institution"],
#mentor:checked~.tabs label[for="mentor"] {
    border-bottom: 2px solid #4facfe;
    color: #4facfe;
}

.form {
    display: none;
    animation: fade 0.4s ease;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Show Forms */
#student:checked~.forms #student-form {
    display: block;
}

#institution:checked~.forms #institution-form {
    display: block;
}

#mentor:checked~.forms #mentor-form {
    display: block;
}

h3 {
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #4facfe;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #2d8cf0;
}

button a {
    text-decoration: none;
    color: white;
    display: block;
}

.register {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}

.register a {
    color: #4facfe;
    text-decoration: none;
}

.register a:hover {
    text-decoration: underline;
}